.contenedor{
    width: 400px;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding: 10px;
    top: 50%;
    left:50%;
    transform: translate(-50%, 10%);
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}
.title{
    color: #7f7f7f;
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
}
.formulario{
    padding-bottom: 5px;
}
.item {
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
input{
    width: 300px;
    height: 35px;
    border-radius: 7px;
    border-width: 3px;
}
select{
    width: 300px;
    height: 35px;
    border-radius: 7px;
    border-width: 3px;

}
.paginate{
    margin-top:5%;
    margin-left: 47%;

}

.contenedor-table{
    width: 90%;
    height: auto;
    position: relative;
    margin-top: -20px;
    top: 50%;
    left:50%;
    transform: translate(-50%, 10%);
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.contenedor-table-bal{
    display: flex;
    flex-wrap: wrap;
    transform: translate(12%, 0%);
    width: 81%;
    height: auto;
    margin-bottom: 50px;
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.table {
    margin: 10px;
    border-collapse: collapse;
}

#keywords1 {
    font-size: 18px;
    border-radius: 7px;
    width: 347px;
}

#keywords {
    font-size: 16px;
    border-radius: 7px;
    width: 100%;
}

#keywords thead, #keywords1 thead {
  background: #c9dff0;
}
#keywords thead tr th, #keywords1 thead tr th {
  font-weight: bold;
  padding: 2% 1%;
}
#keywords thead tr th span, #keywords1 thead tr th span {
  padding-right: auto;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords tbody tr, #keywords1 tbody tr {
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords1 tbody tr td {
    text-align: center;
  }
#keywords tbody tr td.lalign, #keywords1 tbody tr td.lalign {
  text-align: center;
}
